<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container">
    <h1 align="center">GOOGLESHEETS DATA</h1>
    <%= link_to 'SYNC MLB DATA', new_googlesheet_path, class:"btn btn-primary btn-dark-line industry-main" if current_user_admin?  %>
    <div class="col-sm-6 text-center <%= "disabled-googlesheet" if !@nba.status %>">
      <%= image_tag("logos/nbalogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @nba.date_for %></h4>
      <a href="<%= @nba.link %>" target="_blank" class="btn btn-primary btn-dark-line industry-main <%= "disabled" if !@nba.status %>">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@nba), class:"btn btn-primary btn-dark-line industry-main" if current_user_admin? %>
    </div>
    <div class="col-sm-6 text-center <%= "disabled-googlesheet" if !@nfl.status %>">
      <%= image_tag("logos/nfllogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @nfl.date_for %></h4>
      <a href="<%= @nfl.link %>" target="_blank" class="btn btn-primary btn-dark-line industry-main <%= "disabled" if !@nfl.status %>">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@nfl), class:"btn btn-primary btn-dark-line industry-main" if current_user_admin?  %>
    </div>
    <div class="col-sm-6 text-center <%= "disabled-googlesheet" if !@mlb.status %>">
      <%= image_tag("logos/mlblogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @mlb.date_for %></h4>
      <a href="<%= @mlb.link %>" target="_blank" class="btn btn-primary btn-dark-line industry-main <%= "disabled" if !@mlb.status %>">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@mlb), class:"btn btn-primary btn-dark-line industry-main" if current_user_admin?  %>
    </div>
    <div class="col-sm-6 text-center <%= "disabled-googlesheet" if !@pga.status %>">
      <%= image_tag("logos/pgalogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @pga.date_for %></h4>
      <a href="<%= @pga.link %>" target="_blank" class="btn btn-primary btn-dark-line industry-main <%= "disabled" if !@pga.status %>">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@pga), class:"btn btn-primary btn-dark-line industry-main" if current_user_admin?  %>
    </div>
  </div>
</div>

