<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container">
    <h1 align="center">GOOGLESHEETS DATA</h1>
    <div class="col-sm-6 text-center">
      <%= image_tag("logos/nbalogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @googlesheets.first.date_for %></h4>
      <a href="<%= @googlesheets.first.link %>" target="_blank" class="btn btn-dark-line industry-main">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@googlesheets.first), class:"btn btn-dark-line industry-main" if current_user_admin? %>
    </div>
    <div class="col-sm-6 text-center">
      <%= image_tag("logos/nfllogo.png", class: "img-home-logos") %>
      <h4 class="text-center industry-main wcolor"><%= @googlesheets.last.date_for %></h4>
      <a href="<%= @googlesheets.last.link %>" target="_blank" class="btn btn-dark-line industry-main">VIEW DATA</a>
      <%= link_to 'EDIT DATA', edit_googlesheet_path(@googlesheets.last), class:"btn btn-dark-line industry-main" if current_user_admin?  %>
    </div>
  </div>
</div>

