
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default devise-bs">
      <div class="panel-body">
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
    
          <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :title, "TITLE:" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12">
        <%= image_tag(@article.image.url(:medium), style: "border-bottom: 2px solid #C6B358; display: block; margin: 0 auto") %>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :image, "IMAGE:" %><br>
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :content, "CONTENT:" %><br>
          <%= f.hidden_field :content, id: :article_content %>
          <trix-editor input="article_content"></trix-editor>
        </div>
      </div>
      <% if current_user_admin? || current_user_editor? %>
          <div class="form-group">
            <label>APPROVED:</label>
              <br/>
            <label class="switch">
                <%= f.check_box :approved, class: "form-control" %>
                <span class="slider round"></span>
            </label>
          </div>
        <!--<input type="hidden" name="article[approved]" id="article_approved" value="true" />-->
      <% else %> 
        <input type="hidden" name="article[approved]" id="article_approved" value="false" />
      <% end %>
      
      
      <div class="actions">
        <%= f.submit "SUBMIT", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <%= link_to 'BACK', articles_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
