<p id="notice"><%= notice %></p>
<div class="container">
  <h3 align="center" class="wcolor">ARTICLES</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 wcolor">
          <table class="table" id="data-table-other">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @articles.each do |article| %>
                    <tr>
                        <td><%= article.title %></td>
                        <td><%= article.user.first_name + " " + article.user.last_name %></td>
                        <% if article.approved %>
                        <td><span class="label label-success">APPROVED</span></td>
                        <% else %>
                        <td><span class="label label-warning">UNAPPROVED</span></td>
                        <% end %>
                        <td>
                            <%= time_ago_in_words(article.created_at).upcase + " AGO" %>
                        </td>
                        <td>
                          <%= link_to "EDIT", edit_article_path(article),  class: "btn btn-default" if current_user_admin? or current_user_contribor? or current_user_editor? %>
                          <%= link_to "SHOW", article_path(article),  class: "btn btn-default" %>
                          <% if current_user_admin? or current_user_editor? %>
                            <%= link_to "DELETE", article, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
                          <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>