
<% content_for :title, "FP | " + @article.title %>
<meta property="og:title" content="<%= @article.title %>" />
<meta property="og:type" content="Website" />
<meta property="og:url" content="<%= Rails.application.secrets.url_link.to_s + article_path(@article).to_s %>" />
<meta property="og:description" content="<%= @article.content.gsub(/<.*?>/, "").slice(0..99) %>" />
<meta property="og:image" content="<%= @article.image.url %>"/>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="article-nav">
        <div class="col-xs-4">
          <%= link_to("< Previous", @article.previous) if @article.previous %>
        </div>
        <div class="col-xs-4 text-center">
          <%= link_to("View All", news_path) %>
        </div>
        <div class="col-xs-4 text-right">
          <%= link_to("Next >", @article.following) if @article.following %>
        </div>
      </div>
      <div class="article-single-header col-xs-12">
        <h1 align="center"><%= @article.title %></h1>
        <%= image_tag(@article.image.url(public: true), style: "width: 100%; border-bottom: 2px solid #C6B358") %>
        <div class="author">
          <div class="col-xs-4">
            <%= gravatar_for(@article.user, size: 20) %>
            <span><%= @article.user.first_name.upcase + " " + @article.user.last_name.upcase %></span>
          </div>
        <div class="col-xs-4 text-center">
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= Rails.application.secrets.url_link + article_path(@article) %>&layout=button&size=small&mobile_iframe=true&appId=902236026597173&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
         </div>
          <div class="col-xs-4 text-right ">
            <span><%= time_ago_in_words(@article.created_at).upcase + " AGO"%></span>
          </div>
        </div>
      </div>
      <div class="article-single-body col-xs-12" id="<%= "non-sub" if !current_user_subscribed? %>">
        <%= sanitize @article.content %>
        <% if !current_user_subscribed? %>
          <div class="shadow"></div>
        <% end %>
      </div>
      <% if !current_user_subscribed? %>
        <div class="article-sub col-xs-12 text-center">
          <h1 class="industry-main">YOU'RE MISSING OUT!</h1>
          <div class="col-sm-8 col-sm-offset-2">
          <h5>Subscribe now to get full access to the new sports page. Must read content, player grades, stuff you can't get anywhere else.</h5>
          </div>
          <% if user_signed_in? %>
          <%= link_to "SUBSCRIBE NOW!", new_subscription_path, class: "btn btn-success" %>
          <% else %>
          <%= link_to "JOIN NOW!", new_user_registration_path, class: "btn btn-success" %>
          <% end %>
          
        </div>
      <% end %>
      <div class="article-nav">
        <div class="col-xs-4">
          <%= link_to("< Previous", @article.previous) if @article.previous %>
        </div>
        <div class="col-xs-4 text-center">
          <%= link_to("View All", news_path) %>
        </div>
        <div class="col-xs-4 text-right">
          <%= link_to("Next >", @article.following) if @article.following %>
        </div>
      </div>
    </div>
  </div>
</div>
