 <% if @user.standings.last %>
    <% user_has_stripe = true %>
<% else %> 
    <% user_has_stripe = false %>
<% end %>

<% if user_has_stripe %>
    <% if @user.standings.last.status === "active" %>
        <% status_style = "success" %>
    <% elsif @user.standings.last.status === "canceled" %>
        <% status_style = "danger" %>
    <% elsif @user.standings.last.status === "trialing" %>
        <% status_style = "primary" %>
    <% else %>
        <% status_style = "warning" %>
    <% end %>
<% else %>
    <% status_style = "default" %>
<% end %>




<div class="row">
  <div class="text-center">
    <% if user_has_stripe %>
      <i class="fa fa-cc-stripe" style="color: #F0AD4E" aria-hidden="true"></i>
    <% elsif @user.paypal %>
      <i class="fa fa-cc-paypal" style="color: #5BC0DE" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-credit-card-alt" aria-hidden="true" style="color: #D9534F"></i>
    <% end %>
  </div> <!-- gravatar -->
  <h1 align="center"></h1>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default devise-bs">
      <div class="panel-body">
        <%= form_tag("/admin/#{@user.id}", :method => :put, :id => "update-usr-form") do |f| %>
        <div class="form-group">
                <% if user_has_stripe %>
                    <button class="btn btn-<%= status_style %> btn-block" disabled><%= @user.standings.last.status.upcase %> <%= number_to_currency(@user.amount.to_f)%>/mo.</button>
                <% elsif @user.paypal %>
                    <button class="btn btn-success btn-block" disabled>PAYPAL <%= number_to_currency(@user.amount.to_f)%>/mo.</button>
                <% else %>
                  <button class="btn btn-default btn-block" disabled>FREE</button>
                <% end %>
            </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" value="<%= @user.first_name + ' ' + @user.last_name %>" disabled />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" value="<%= @user.email %>" disabled />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
              <label>Paypal:</label>
              <div class="form-group">
                <label class="switch">
                  <%= hidden_field_tag :paypal, '' %>
                  <%= check_box_tag :paypal, 1, @user.paypal, class: "form-control" %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-2">
              <label>Platform Access:</label>
              <div class="form-group">
                <label class="switch">
                  <%= hidden_field_tag :subscribed, '' %>
                  <%= check_box_tag :subscribed, 1, @user.subscribed, class: "form-control" %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-2">
              <label>Google Access:</label>
              <div class="form-group">
                <label class="switch">
                  <%= hidden_field_tag :chatroom, '' %>
                  <%= check_box_tag :chatroom, 1, @user.chatroom, class: "form-control" %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-2">
              <label>Contributor:</label>
              <div class="form-group">
                <label class="switch">
                  <%= hidden_field_tag :contributor, '' %>
                  <%= check_box_tag :contributor, 1, @user.contributor, class: "form-control" %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-2">
              <label>Editor:</label>
              <div class="form-group">
                <label class="switch">
                  <%= hidden_field_tag :editor, '' %>
                  <%= check_box_tag :editor, 1, @user.editor, class: "form-control" %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            
            
            
            
            
          </div>
            
          <%= submit_tag "UPDATE INFORMATION", class: 'btn btn-primary btn-block' %>
        <% end %>
        <br/>
        <%= link_to "BACK" , admin_index_path, class: "btn btn-default btn-block" %>
      </div>
    </div>
    
    <!--<p># t('.unhappy', default: 'Unhappy') %> # link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>.</p>-->
    
    
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".")
  })
</script>
