<div class="container">
    <h1 align="center" class="wcolor">USER MANAGEMENT</h1>
    <div class="panel panel-default">
      <div class="panel-body">
<div class="row wcolor" >
    
    <table class="table" id="user-management-table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PAYMENT STATUS</th>
                <th>PLATFORM ACCESS</th>
                <th>CHAT/DATA ACCESS</th>
                <th>USER TYPE</th>
                <th>START PERIOD</th>
                <th>END PERIOD</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
                <% if user.standings.last %>
                    <% user_has_stripe = true %>
                <% else %> 
                    <% user_has_stripe = false %>
                <% end %>
                <tr>
                    <td>
                    <% if user_has_stripe %>
                      <i class="fa fa-cc-stripe" style="color: #F0AD4E" aria-hidden="true"></i>
                    <% elsif user.paypal %>
                      <i class="fa fa-cc-paypal" style="color: #5BC0DE" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-credit-card" aria-hidden="true" style="color: #D9534F"></i>
                    <% end %>
                    
                    
                    <%= " " + user.first_name + " " + user.last_name %></td>
                    <td><%= user.email %></td>
                    
                    <!-- Payment Status -->
                    <% if user_has_stripe %>
                        <% if user.standings.last.status === "active" %>
                            <% status_style = "success" %>
                        <% elsif user.standings.last.status === "canceled" %>
                            <% status_style = "danger" %>
                        <% elsif user.standings.last.status === "trialing" %>
                            <% status_style = "primary" %>
                        <% else %>
                            <% status_style = "warning" %>
                        <% end %>
                        <td><span class="label label-<%= status_style %>"><%= user.standings.last.status.upcase %></span></td>
                    <% else %>
                        <% if user.paypal %>
                            <td><span class="label label-success">ACTIVE</span></td>
                        <% else %>
                            <td><span class="label label-default">FREE</span></td>
                        <% end %>
                    <% end %>
                    
                    
                    <!-- Platform Access -->
                    <% if user.subscribed %>
                        <td><span class="label label-success">ACCESS</span></td>
                    <% else %>
                        <td><span class="label label-danger">DENIED</span></td>
                    <% end %>
                    
                    <!-- Chatroom Access -->
                    <% if user.chatroom %>
                        <td><span class="label label-success">ACCESS</span></td>
                    <% else %>
                        <td><span class="label label-danger">DENIED</span></td>
                    <% end %>
                    
                    
                    
                    <!-- Content Access -->
                    <% if user.admin %>
                        <td><span class="label label-info">ADMIN</span></td>
                    <% elsif user.editor %>
                        <td><span class="label label-warning">EDITOR</span></td>
                    <% elsif user.contributor %>
                        <td><span class="label label-warning">CONTRIBUTOR</span></td>
                    <% else %>
                        <td><span class="label label-default">USER</span></td>
                    <% end %>
                    
                    
                    
                    <% if user_has_stripe %>
                        <td><%= user.standings.last.current_period_start.strftime("%m/%d/%y") %></td>
                        <td><%= user.standings.last.current_period_end.strftime("%m/%d/%y") %></td>
                    <% else %>
                        <td>--/--/--</td>
                        <td>--/--/--</td>
                    <% end %>
                    <td><%= link_to "EDIT", edit_admin_path(user), class: "btn btn-default btn-xs btn-block" %></td>
                </tr>
        <% end %>
        </tbody>
    </table>
</div>
</div>
</div>

 <h3 align="center" class="wcolor">List of Canceled Accounts</h3>
<div class="panel panel-default">
  <div class="panel-body">

<div class="row">
    
     <div class="col-sm-12 wcolor">
       
        <table class="table" id="canceled-management-table">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>STATUS</th>
                    <th>DATE CANCELED</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <% if user.standings.last %>
                        <% if user.standings.last.status === "canceled" %>
                            <tr>
                                <td><%= user.first_name + " " + user.last_name %></td>
                                <td><%= user.email %></td>
                                <td><span class="label label-danger"><%= user.standings.last.status %></span></td>
                                <td>
                                    <%= user.standings.last.canceled_at.strftime("%m/%d/%y") %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            </tbody>
        </table>
     </div>
</div>
</div>
</div>

</div>
<script>
    $(document).ready(function(){
        $('#user-management-table').DataTable();
        $('#charges-management-table').DataTable();
        $('#canceled-management-table').DataTable();
    });
</script>
