<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center industry-main wcolor" style="margin-top: 50px">GET STARTED PLAYING DAILY FANTASY SPORTS</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-xs-4">
      <%= image_tag("logos/fan-duel.png", class: "img-home-logos") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("logos/fpbasic.png", class: "img-home-logos") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("logos/draft-kings.png", class: "img-home-logos") %>
    </div>
  </div>
  <div class="col-sm-12 text-center">
    <% if user_signed_in? %> 
      <%= link_to "GOOGLE SHEETS", googlesheets_path, :class => "btn btn-primary btn-dark-line industry-main" %>
      <a href="https://fantasy-phenom.rocket.chat/login" target="_blank" class="btn btn-primary btn-dark-line industry-main">COMMUNITY</a>
    <% else %>
      <%= link_to "LEARN MORE", new_user_registration_path, :class => "btn btn-primary btn-dark-line industry-main" %>
      <%= link_to "JOIN THE TEAM", new_user_registration_path, :class => "btn btn-primary btn-dark-line industry-main" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="container" style="background-color: #3B3B3C; margin-top: 100px; margin-bottom: 100px">
    <div class="col-md-8">
      <div class="join-text-container hidden-xs" style="margin-top: 10px">
        <p>Fantasy Phenom is a fantasy sports community centered around its members. Each individual "Phenom" is a player on this team offering a unique contributions. We operate this team under a common goal:</p>
      </div>
      <div class="text-center wcolor">
        <h1 class="industry-main" style="text-transform: uppercase;">Discovering dependable and superior fantasy sports knowledge</h1>
      </div>
      <div class="join-text-container" style="margin-bottom: 10px">
        <p>Fantasy Phenom aims to provide a friendly and trustworthy community for people who enjoy playing fantasy sports. We are focused on progression through the development of user friendly research tools and entertaining discussions as a supplement to your daily fantasy sports process. </p>
      </div>
    </div>
    <div class="col-md-4" id="join-call-to-action">
      <div>
      <h2 class="text-center wcolor"><strong>7-DAY<br/>FREE TRIAL<br/><span style="font-size: 20px">$9.99/Mo.</span></strong></h2>
      <br/><br/>
      <a href="<%= new_user_registration_path %>">JOIN</a>
      </div>
    </div>
  </div>
</div>


<div class="row bg-main">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 about-container">
    <div class="col-sm-4 col-xs-12 col-sm-push-4">
      <div class="about-img-container">
        <%= image_tag("logos/aboutuslogo.png", class: "img-home-logos") %>
      </div>
        <h4 class="text-center industry-main wcolor">ABOUT US</h4>
    </div>
    <div class="col-sm-4 col-xs-6 col-sm-pull-4">
      
      <a href="<% if user_signed_in? %> https://fantasy-phenom.rocket.chat/login <% else %> <%= new_user_registration_path %> <% end %> " target="_blank">
      <div class="about-img-container">
        <%= image_tag("logos/communitylogo.png", class: "img-home-logos") %>
      </div>
      </a>
        <h4 class="text-center industry-main wcolor">COMMUNITY</h4>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="<%= googlesheets_path %>">
      <div class="about-img-container">
        <%= image_tag("logos/analyticslogo.png", class: "img-home-logos") %>
      </div>
      </a>
        <h4 class="text-center industry-main wcolor">ANALYTICS</h4>
    </div>
  </div>
  <div class="col-sm-6 hidden-xs about-text-container">
    <h4 class="text-left industry-main gcolor">LEARN HOW TO BE SUCCESSFUL</h4>
    <h4 class="text-left industry-main gcolor">24/7 COLLABORATIVE DISCUSSION</h4>
    <h4 class="text-left industry-main gcolor">CONNECT WITH OTHER PLAYERS</h4>
    <h4 class="text-left industry-main gcolor">UNLOCK WINNING STRATEGIES</h4>
  </div>
  <div class="col-sm-6 hidden-xs about-text-container">
    <h4 class="text-right industry-main gcolor">DEVELOP CONSISTENCY</h4>
    <h4 class="text-right industry-main gcolor">INCORPORATED ANALYTICS</h4>
    <h4 class="text-right industry-main gcolor">ACCESS SIMPLE TO USE DATA</h4>
    <h4 class="text-right industry-main gcolor">BECOME A FANTASY PLAYER</h4>
  </div>
</div>
<div class="row divider-grey" id="contact-us">
  <h1 class="text-center industry-main wcolor">CHANGE THE WAY YOU PLAY</h1>
</div>
<div class="container" >
<div class="row" style="background-color: #000">
    <br/>
    <br/>
    <%= form_for(@contact, id: "contact-form") do |f| %>
      <div class="col-sm-3">
        <%= image_tag("logos/fpbasic.png", class: "img-contact-logos") %>
      </div>
      <div class="col-sm-9">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.text_field :name, class: "contact-input", placeholder: "NAME:", required: true %>
            <!--<input type="text" class="contact-input" placeholder="Name:"/>-->
          </div>
          <div class="form-group">
            <%= f.text_field :email, class: "contact-input", placeholder: "EMAIL:", required: true %>
            <!--<input type="email" class="contact-input" placeholder="Email:"/>-->
          </div>
        </div>
        <div class="col-sm-6">
          <%= f.text_area :message, rows: "4", class: "contact-input", placeholder: "Hey Guys, I want to be part of the community! I would love to start collaborating with other daily fantasy players!", required: true %>
          <!--<textarea rows="4" class="contact-input" placeholder="Hey Guys, I need to be part of the community! I would love to start colabrating with other daily fantasy player! "></textarea>-->
        </div>
        <%= f.submit "CHAT WITH US!", class: "btn contact-btn industry-main" %>
        <!--<button type="submit" class="btn contact-btn industry-main">CHAT WITH US!</button>-->
      </div>
    <% end %>
</div>
</div>
<% if not user_signed_in? %> 
    <!-- Trigger the modal with a button -->
    <button type="button" id="modal-btn" class="btn btn-info btn-lg" style="display: none" data-toggle="modal" data-target="#myModal">Open Modal</button>
<% end %>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
          <h4 class="industy-main wcolor text-center" style="color: white; font-size: 30px;">
              FANTASY<strong>PHENOM</strong>
              <span class="hidden-xs"> | <strong>NFL</strong> DFS 101</span>
              <span class="hidden-sm hidden-md hidden-lg"><br/><strong>NFL</strong> DFS 101</span>
          </h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-6">
                  <%= image_tag("nfldfs101.png", class: "modal-ebook") %>
              </div>
              <div class="col-sm-6">
                  
                  <p style="font-size: 16px;"><strong>LEARN HOW TO:</strong></p>
                  <p><i class="fa fa-check-square"></i> INCORPORATED ANALYTICS</p>
                  <p><i class="fa fa-check-square"></i> ACCESS SIMPLE TO USE DATA</p>
                  <p><i class="fa fa-check-square"></i> UNLOCK WINNING STRATEGIES</p>
                  <p><i class="fa fa-check-square"></i> BECOME A FANTASY PLAYER</p>
                  <p><i class="fa fa-check-square"></i> DEVELOP CONSISTENCY</p>
                  <br/>
                  <%= form_tag("/contacts/ebook", :method => :post) do |f| %>
                    <div class="form-group">
                        <%= email_field_tag :email, '', class: "form-control", placeholder: "example@gmail.com", required: true%>
                        <%= hidden_field :name, 'EBOOK Request' %>
                        <%= hidden_field :message, "N/A" %>
                    </div>
                    <%= submit_tag "SEND DFS 101", class: 'btn btn-primary btn-block' %>
                 <% end %>
              </div>
            
          </div>
        
      </div>
      <div class="modal-footer">
    
      </div>
    </div>

  </div>
</div>


