<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center industry-main wcolor" style="margin-top: 50px">GET STARTED PLAYING DAILY FANTASY SPORTS</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-xs-4">
      <%= image_tag("logos/fan-duel.png", class: "img-home-logos") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("logos/fpbasic.png", class: "img-home-logos") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("logos/draft-kings.png", class: "img-home-logos") %>
    </div>
  </div>
  <div class="col-sm-12 text-center">
    <% if user_signed_in? %> 
      <%= link_to "GOOGLE SHEETS", googlesheets_path, :class => "btn btn-primary btn-dark-line industry-main" %>
      <a href="https://fantasyphenom.ryver.com/application/login" target="_blank" class="btn btn-primary btn-dark-line industry-main">COMMUNITY</a>
    <% else %>
      <%= link_to "LEARN MORE", new_user_registration_path, :class => "btn btn-primary btn-dark-line industry-main" %>
      <%= link_to "JOIN THE TEAM", new_user_registration_path, :class => "btn btn-primary btn-dark-line industry-main" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="container" style="background-color: #3B3B3C; margin-top: 100px; margin-bottom: 100px">
    <div class="col-md-8">
      <div class="join-text-container hidden-xs" style="margin-top: 10px">
        <p>Fantasy Phenom is a fantasy sports community centered around its members. Each individual "Phenom" is a player on this team offering a unique contributions. We operate this team under a common goal:</p>
      </div>
      <div class="text-center wcolor">
        <h1 class="industry-main" style="text-transform: uppercase;">Discovering dependable and superior fantasy sports knowledge</h1>
      </div>
      <div class="join-text-container" style="margin-bottom: 10px">
        <p>Fantasy Phenom aims to provide a friendly and trustworthly community for people who enjoy playing fantasy sports. We are focused on progression through the development of user friendly research tools and entertaining discussions as a supplement to your daily fantasy sports process. </p>
      </div>
    </div>
    <div class="col-md-4" id="join-call-to-action">
      <div>
      <h2 class="text-center wcolor"><strong>7-DAY<br/>FREE TRAIL<br/><span style="font-size: 20px">$9.99/Mo.</span></strong></h2>
      <br/><br/>
      <a href="<%= new_user_registration_path %>">JOIN</a>
      </div>
    </div>
  </div>
</div>


<div class="row bg-main">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 about-container">
    <div class="col-sm-4 col-xs-12 col-sm-push-4">
      <div class="about-img-container">
        <%= image_tag("logos/aboutuslogo.png", class: "img-home-logos") %>
      </div>
        <h4 class="text-center industry-main wcolor">ABOUT US</h4>
    </div>
    <div class="col-sm-4 col-xs-6 col-sm-pull-4">
      
      <a href="<% if user_signed_in? %> https://fantasyphenom.ryver.com/application/login <% else %> <%= new_user_registration_path %> <% end %> " target="_blank">
      <div class="about-img-container">
        <%= image_tag("logos/communitylogo.png", class: "img-home-logos") %>
      </div>
      </a>
        <h4 class="text-center industry-main wcolor">COMMUNITY</h4>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="<%= googlesheets_path %>">
      <div class="about-img-container">
        <%= image_tag("logos/analyticslogo.png", class: "img-home-logos") %>
      </div>
      </a>
        <h4 class="text-center industry-main wcolor">ANALYTICS</h4>
    </div>
  </div>
  <div class="col-sm-6 hidden-xs about-text-container">
    <h4 class="text-left industry-main gcolor">LEARN HOW TO BE SUCESSFUL</h4>
    <h4 class="text-left industry-main gcolor">24/7 COLLABORATIVE DISCUSSION</h4>
    <h4 class="text-left industry-main gcolor">CONNECT WITH OTHER PLAYERS</h4>
    <h4 class="text-left industry-main gcolor">UNLOCK WINNINGS STRATEGIES</h4>
  </div>
  <div class="col-sm-6 hidden-xs about-text-container">
    <h4 class="text-right industry-main gcolor">DEVELOP CONSISTENCY</h4>
    <h4 class="text-right industry-main gcolor">INCORPORATED ANALYTICS</h4>
    <h4 class="text-right industry-main gcolor">ACCESS SIMPLE TO USE DATA</h4>
    <h4 class="text-right industry-main gcolor">BECOME A FANTASY PLAYER</h4>
  </div>
</div>
<div class="row divider-grey" id="contact-us">
  <h1 class="text-center industry-main wcolor">CHANGE THE WAY YOU PLAY</h1>
</div>
<div class="container" >
<div class="row" style="background-color: #000">
    <br/>
    <br/>
    <%= form_for(@contact, id: "contact-form") do |f| %>
      <div class="col-sm-3">
        <%= image_tag("logos/fpbasic.png", class: "img-contact-logos") %>
      </div>
      <div class="col-sm-9">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.text_field :name, class: "contact-input", placeholder: "NAME:" %>
            <!--<input type="text" class="contact-input" placeholder="Name:"/>-->
          </div>
          <div class="form-group">
            <%= f.text_field :email, class: "contact-input", placeholder: "EMAIL:" %>
            <!--<input type="email" class="contact-input" placeholder="Email:"/>-->
          </div>
        </div>
        <div class="col-sm-6">
          <%= f.text_area :message, rows: "4", class: "contact-input", placeholder: "Hey Guys, I need to be part of the community! I would love to start colabrating with other daily fantasy player!" %>
          <!--<textarea rows="4" class="contact-input" placeholder="Hey Guys, I need to be part of the community! I would love to start colabrating with other daily fantasy player! "></textarea>-->
        </div>
        <%= f.submit "CHAT WITH US!", class: "btn contact-btn industry-main" %>
        <!--<button type="submit" class="btn contact-btn industry-main">CHAT WITH US!</button>-->
      </div>
    <% end %>
</div>
</div>


