<div class="col-sm-6">
  <table class="table table-data text-center ">
    <tbody>
    <tr>
      <td colspan="2">
        <%= game.away_team %>
      </td>
      <td colspan="2">
        <%= game.home_team %>
      </td>
    </tr>
    <tr>
      <td>
        <%= game.away_bet %>
      </td>
      <td>
        <%= game.degree %>
      </td>
      <td>
        <%= game.weather %>
      </td>
      <td>
        <%= game.home_bet %>
      </td>
    </tr>
    <tr>
      <td>
        <%= game.away_money_line %>
      </td>
      <td colspan="2">
        <%= game.wind %>
      </td>
      <td>
        <%= game.home_money_line %>
      </td>
    </tr>
    </tbody>
  </table>
</div>