<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= image_tag("mlb/LOGO#{game.away_team}.png", class: "data-logo-img") %>
    </div>
    <div class="col-xs-6 ">
      <table class="table table-data text-center "style="margin-top: 10%">
        <tbody>
        <tr>
          <td colspan="2">
            <%= game.away_team %>
          </td>
          <td colspan="2">
            <%= game.home_team %>
          </td>
        </tr>
        <tr>
          <td class="data-runs">
            <%= game.away_bet %>
          </td>
          <td>
            <%= game.degree %>
          </td>
          <td class="data-rain">
            <%= game.weather %>
          </td>
          <td class="data-runs">
            <%= game.home_bet %>
          </td>
        </tr>
        <tr>
          <td>
            <%= game.away_money_line %>
          </td>
          <td colspan="2" class="data-wind">
            <%= game.wind %>
          </td>
          <td>
            <%= game.home_money_line %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3">
      <%= image_tag("mlb/LOGO#{game.home_team}.png", class: "data-logo-img") %>
    </div>
  </div>
</div>