<div class="data-container">
  <div class="container article-header" style="border-bottom: 2px solid #C6B358; color: #fff">
    <h4 align="center"><%= Date.today.strftime("%^B %e, %Y") %></h4>
  </div>
  <%  if current_user_admin? %>
    <div class="text-center col-xs-12">
      <%= link_to 'SYNC MLB DATA', new_googlesheet_path, class:"btn btn-primary btn-dark-line industry-main text-center"  %>
    </div>
  <% end %>
<% @games.each_with_index do |game, i| %>
    <div class="row">
      <%= render 'mlb_base', game: game %>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= "game#{i}" %>" aria-expanded="false" aria-controls="<%= "game#{i}" %>">
          VIEW DATA
        </button>
      </div>
    </div>
    <div class="collapse" id="<%= "game#{i}" %>">
      <div class="row " style="margin-top: 25px">
        <%= render 'mlb_team', game: game %>
      </div>
      <div class="row">
        <%= render 'mlb_pitcher', game: game %>
      </div>
      <div class="row">
        <%= render 'mlb_away_batters', game: game %>
      </div>
      <div class="row">
        <%= render 'mlb_home_batters', game: game %>
      </div>
    </div>
<% end %>
</div>

